# vscode
.vscode/

# python3 venv
bin/
include/
lib/
lib64
Scripts/
pyvenv.cfg
share/
.mypy_cache/
.tox
chariot.egg-info

# python
*.py[cod]
__pycache__/

#pytest
.coverage

# Test folder
/src/testing
